.card {
  width: 30rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid grey;
  border-radius: .25rem;
  margin: auto;
  font-size: 1rem;
  font-weight: 400;
}

.card-body {
  background: #efefef;
  padding: 50px;
}

.card-title{
  font-size: 2rem;
  text-align: center;
}

.loading {
  box-sizing: border-box;
  margin: auto;
  width: 300px;
  padding: 10px;

  & > i{
    width: 100%;
  }
}

.button {
  background-color: #495057;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  width: 280px;
}

.button-wrapper{
  box-sizing: border-box;
  margin: auto;
  width: 300px;
  padding: 10px;
}

.divider {
  width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px;
  & span { background:#efefef; padding:0 10px; }
}

