.card {
  width: 40rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid grey;
  border-radius: .25rem;
  margin: auto;
  font-size: 1rem;
  font-weight: 400;
}

.card-body {
  background: #efefef;
  padding: 50px;
}

.card-title{
  font-size: 2rem;
  text-align: center;
}

.loading {
  box-sizing: border-box;
  margin: auto;
  width: 300px;
  padding: 10px;

  & > i{
    width: 100%;
  }
}

.token-button {
  background: none;
  padding-left: 15px;
  border: none;
  color: midnightblue;
  cursor: pointer;
  outline: transparent;
}

.import-button {
  background-color: midnightblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  width: 280px;
}

.import-button-disabled {
  background-color: #b5b1b9;
  cursor: not-allowed;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  width: 280px;
}

.button-wrapper{
  box-sizing: border-box;
  margin: auto;
  width: 300px;
  padding: 10px;
}

.divider {
  width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px;
  & span { background:#efefef; padding:0 10px; }
}

.form-control {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s;
}

.token-wrapper {
  padding: 10px;
}

.access-token-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tooltip {
  display:inline-block;
  position:relative;
  border-bottom:1px dotted #666;
  text-align:left;
}

.tooltip-text {
  min-width:200px;
  max-width:400px;
  top: -10px;
  left: 100px;
  transform:translate(-30%,-100%);
  padding:10px 20px;
  color:#ffffff;
  background-color: cornflowerblue;
  font-weight:normal;
  font-size:14px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  display:none;
}

.tooltip:hover .tooltip-text {
  display:block;
}

.tooltip-text::after {
  content:'';
  position:absolute;
  width:15px;
  height:15px;
  left:50%;
  top: 53px;
  transform:translate(-50%,-50%) rotate(45deg);
  background-color: cornflowerblue;
  //box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

