.component-wrapper {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
}

.organizations-section {
    padding: 0 10px 10px 10px;
}

.help {
    font-size: 16px;
    font-weight: normal;
    color: darkcyan;
    padding-left: 10px;
    cursor: pointer;
}
